#header {
    background: #0d1731;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header h2 {
    z-index: 1;
    margin-top: 4rem;
}

#header p {
    text-align: center;
    font-size: .8rem;
    display: block;
    top: 25%;
    margin: 5rem 1rem 0;
    z-index: 1;
}

#header-icon {
    position: absolute;
    top: 12%;
    height: 20rem;
    width: 20rem;
    opacity: .1;
    z-index: 0;
}

.flex-row {
    gap: .8rem;
    margin: 1.5rem 0 3rem;
    padding: 1rem 0;

}