.header {
    background: #0d1731;
    color: var(--white);
    height: 100vh;
    max-height: 100vh;
}

.header p {
    text-align: center;
    font-size: .9rem;
    margin: 1rem 1.5rem;
    display: block;
    margin: 5rem 1rem 2rem;
}

.flex-row {
    gap: .8rem;
}